<!doctype html>

<html lang="it">
<head>
  <meta charset="utf-8">

  <title>{%block title %} i-Rinvio {%endblock title %}</title>
  <meta name="description" content="i-Rinvio">
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<style>
body {
  height:100vh!important;
}

footer.footer{
  position:absolute;
  bottom:0;
  height:15vh;
  width:100%!important;
}


</style>

<body class="Site">
    <div class="Site-content">
    {% include 'navbar.html' %}
    <section class="section">
        
        
            {% block content %}
            {% endblock content %}

    </section>
    </div>
{% include 'footer.html' %}

  
</body>
</html>