<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Rinvio Udienza</strong> di Avv. Francesco Saverio Orlando e Avv. Roberto Alma.
    </p>
    <small>Le informazioni presenti sul sito sono state raccolte con mero spirito di solidarietà e colleganza professionale e pertanto non sostituiscono gli avvisi ufficiali presso gli Uffici Giudiziari e le comunicazioni di cancelleria; Si declina ogni responsabilità in caso di errori ed omissioni.</small>
  </div>
</footer>