{% extends 'base.html' %}

{% block content %}

<section class="hero is-info">
    <div class="hero-body">
        <h1 class="title has-text-centered">Aggiungi un rinvio</h1>
        <h2 class="subtitle has-text-centered">Compila i campi che seguono per caricare un rinvio</h2> 
    </div>
</section>
<section id="app" class="section">
    <div class="box">
    <form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="field">
            <div class="select is-fullwidth">
                <select name="ufficio" v-model="ufficio" @change="carica_giudici">
                    {% for option in form.ufficio %}
                    {{option}}
                    {% endfor %}
                </select>
            </div>
        </div><!-- end field -->
        <div class="field" v-if="mostraGiudice">
            <div class="select is-fullwidth">
                <select name="giudice" @change="mostraCompletoForm">
                    <option value="">Seleziona un giudice</option>
                    <option v-for="giudice in giudici" :value="[[giudice.pk]]">[[giudice.giudice]]</option>
                </select>
            </div>
        </div><!-- end field -->
        <div v-if="mostraCampi">
        <div class="field">
            <div class="control">
                <input class="input is-info" name="data_udienza_rinviata" required type="date" placeholder="Data udienza rinviata" />
            </div>
        </div>
         <div class="field">
            <div class="control">
                <input class="input is-info" name="data_rinvio" type="date" placeholder="Data del rinvio" />
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-info" name="testo" type="text" placeholder="Descrizione" />
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-info" name="immagine" type="file" placeholder="Immagine" />
            </div>
        </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-info" :disabled="!mostraCampi" type="submit" value="Aggiungi" />
            </div>
        </div>

    </form>
    </div>

</section>

<script>
    const app = new Vue({
        el:'#app',
        delimiters:["[[","]]"],
        data:{
            mostraGiudice:false,
            mostraCampi:false,
            ufficio:'',
            giudici: []
        },
        methods:{
            async carica_giudici(){
                this.mostraGiudice=true
                const pk = this.ufficio
                const response = await fetch(`/api/carica-giudici?ufficio=${pk}`)
                const giudici = await response.json()
                this.giudici = giudici
            },
            mostraCompletoForm(){
                this.mostraCampi = true
            }
        }
    })

</script>

{% endblock %}