{% extends 'base.html' %}

{% block content %}

<section class="hero is-info">
    <div class="hero-body">
        <h1 class="title has-text-centered">Dettaglio Rinvio</h1>
        <h2 class="subtitle has-text-centered">Visualizza informazioni sul rinvio</h2> 
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column">
            <ul>
                <li><b>Ufficio: </b>{{rinvio.giudice.ufficio}}</li>
                <li><b>Giudice: </b>{{rinvio.giudice}}</li>
                {% if rinvio.data_udienza_rinviata %}
                <li><b>Data udienza rinviata: </b>{{rinvio.data_udienza_rinviata}}</li>
                {% endif %}
                {% if rinvio.data_rinvio %}
                <li><b>Data del rinvio: </b>{{rinvio.data_rinvio}}</li>
                {% endif %}
                {% if rinvio.testo %}
                <li><b>Descrizione: </b>{{rinvio.testo}}</li>
                {% endif %}
            </ul>
        </div>
        {% if rinvio.immagine %}
        <div class="column">
            <figure class="image is-1by1">
                <img src="{{rinvio.immagine.url|safe}}" />
            </figure>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}