{% extends 'base.html' %}

{% block content %}

<section class="hero is-info">
    <div class="hero-body">
        <h1 class="title has-text-centered">Lista Giudici</h1>
        <h2 class="subtitle has-text-centered">Seleziona un Giudice</h2> 
    </div>
</section>

<section class="section">
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Giudici</th>
            </tr>
        </thead>
        <tbody>
            {% for giudice in page_obj %}
            <tr>
                <td>
                    <a href="{% url 'dettaglio giudice' giudice.pk %}">{{giudice.cognome}} {{giudice.nome}}</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <br />
        <nav class="level">
        <div class="level-left">
            <div class="level-item">
                {% if page_obj.has_previous %}
                <a class="button" href="?page={{page_obj.previous_page_number}}">Indietro</a>
                {% else %}
                <a class="button" disabled>Indietro</a>
                {% endif %}
               
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                 {% if page_obj.has_next %}
                <button class="button" onclick="window.location.href='?page={{page_obj.next_page_number}}'">Avanti</button>
                {% else %}
                <button class="button" disabled>Avanti</button>
                {% endif %}
            </div>
        </div>
    </nav>

</section>

{% endblock %}